#root {
  margin: 0;
  text-align: center;
}


header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  background-color: #19b2ff;
  color: black;

}

.header__title-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: white;
  padding: 0 2rem;
}

.header__price-box{
  display: flex;
  align-items: center;
  font-size: 1rem;
  width: 24%;
  justify-content: center;
}


.header__price-box p{
  margin-inline: 5px;
}

nav{
  display: grid;
  place-content: center;
  width: 20%;
}

